# Automatycznie generowane pliki Pythona
__pycache__/
*.pyc

# Wirtualne środowiska (jeśli używasz)
venv/
.venv/

# PLIKI WRAŻLIWE I SEKRETY (NAJWAŻNIEJSZE)
.env
credentials.json
token.json
klucz-google.json